@import "../../global.scss";

.btn {
  display: flex;

  align-items: center;

  gap: 0.375em;
  padding: 0.375em 0.75em;

  font-family: "Outfit", sans-serif;

  font-size: 1em;
  font-weight: 500;

  line-height: 1;

  border: 0.125em solid transparent;
  border-radius: 0.375em;

  cursor: pointer;
  
  svg {
    height: 1em;
    width: 1em;
    stroke-width: 2.5;
  }

  &:not(:hover) { transition-duration: 0.32s }
  &:hover       { transition-duration: 0.16s }
  &:active      {
    transition-duration: 0.04s;
    transition-timing-function: linear;
  }
  > * {
    transition-duration: inherit;
    transition-property: filter;
  }

  --box-shadow-color: #{rgba(#6467f2, 0.25)};

  &:active {
    --box-shadow-color: transparent;
  }

  &:not(.outlined) {
    box-shadow: 0em 0.125em 0.25em var(--box-shadow-color);

    &:hover {
      filter: brightness(0.9);
    }

    &:active {
      filter: brightness(0.8);
    }
  }

  &.outlined {
    &:hover {
      > * {
        filter: brightness(0.8);
      }
    }

    &:active {
      filter: brightness(0.75)
    } 
  }

  &[data-color="primary"] {
    background: #6467f2;
    color: #fff;

    &.outlined {
      background: transparent;
      color: #6467f2;

      border-color: rgba(#6467f2, 0.2);

      &:hover {
        background: rgba(#6467f2, 0.2);
      }
    }
  }

  &[data-color="red"] {
    --box-shadow-color: #{rgba($generic-red, 0.25)};
    background: $generic-red;
    color: #fff;

    &.outlined {
      background: transparent;
      color: $generic-red;

      border-color: rgba($generic-red, 0.3);

      &:hover {
        background-color: rgba($generic-red, 0.2);
      }
    }
  }

  &[data-color="yellow"] {
    --box-shadow-color: #{rgba($generic-yellow, 0.25)};
    background: $generic-yellow;
    color: #fff;

    &.outlined {
      background: transparent;
      color: $generic-yellow;

      border-color: rgba($generic-yellow, 0.3);

      &:hover {
        background: rgba($generic-yellow, 0.2);
      }
    }
  }

  &[data-color="green"] {
    --box-shadow-color: #{rgba($generic-green, 0.25)};
    background: $generic-green;
    color: #fff;

    &.outlined {
      background: transparent;
      color: $generic-green;

      border-color: rgba($generic-green, 0.3);

      &:hover {
        background: rgba($generic-green, 0.2);
      }
    }
  }

  &[data-color="blue"] {
    --box-shadow-color: #{rgba($generic-blue, 0.25)};
    background: $generic-blue;
    color: #fff;

    &.outlined {
      background: transparent;
      color: $generic-blue;

      border-color: rgba($generic-blue, 0.3);

      &:hover {
        background: rgba($generic-blue, 0.2);
      }
    }
  }
}
