.btn {
  display: flex;

  align-items: center;

  gap: 6px;
  padding: 6px 12px;

  font-family: 'Outfit', sans-serif;

  font-size: 16px;
  font-weight: 500;

  border: 2px solid transparent;
  border-radius: 6px;

  cursor: pointer;

  transition: 150ms;

  &.outlined {
    border: 2px solid transparent;
  }

  &[data-color='primary'] {
    background: #6467F2;
    color: #fff;

    &.outlined {
      background: transparent;
      color: #6467F2;

      border-color: rgba(#6467F2, 0.2);

      &:hover {
        background: rgba(#6467F2, 0.2);
      }
    }
  }

  &[data-color='red'] {
    background: #F26464;
    color: #fff;

    &.outlined {
      background: transparent;
      color: #F26464;

      border-color: rgba(#F26464, 0.3);

      &:hover {
        background: rgba(#F26464, 0.2);
      }
    }
  }

  &:hover {
    filter: brightness(0.9);

    &.outlined {
      filter: none;
    }
  }
}