@import "../../global.scss";

.btn {
  display: flex;

  align-items: center;

  gap: 6px;
  padding: 6px 12px;

  font-family: "Outfit", sans-serif;

  font-size: 16px;
  font-weight: 500;

  border: 2px solid transparent;
  border-radius: 6px;

  cursor: pointer;

  transition: 150ms;

  &.outlined {
    border: 2px solid transparent;
  }

  &[data-color="primary"] {
    background: #6467f2;
    color: #fff;

    &.outlined {
      background: transparent;
      color: #6467f2;

      border-color: rgba(#6467f2, 0.2);

      &:hover {
        background: rgba(#6467f2, 0.2);
      }
    }
  }

  &[data-color="red"] {
    background: $generic-red;
    color: #fff;

    &.outlined {
      background: transparent;
      color: $generic-red;

      border-color: rgba($generic-red, 0.3);

      &:hover {
        background-color: rgba($generic-red, 0.2);
      }
    }
  }

  &[data-color="yellow"] {
    background: $generic-yellow;
    color: #fff;

    &.outlined {
      background: transparent;
      color: $generic-yellow;

      border-color: rgba($generic-yellow, 0.3);

      &:hover {
        background: rgba($generic-yellow, 0.2);
      }
    }
  }

  &[data-color="green"] {
    background: $generic-green;
    color: #fff;

    &.outlined {
      background: transparent;
      color: $generic-green;

      border-color: rgba($generic-green, 0.3);

      &:hover {
        background: rgba($generic-green, 0.2);
      }
    }
  }

  &[data-color="blue"] {
    background: $generic-blue;
    color: #fff;

    &.outlined {
      background: transparent;
      color: $generic-blue;

      border-color: rgba($generic-blue, 0.3);

      &:hover {
        background: rgba($generic-blue, 0.2);
      }
    }
  }

  &:hover {
    filter: brightness(0.9);

    &.outlined {
      filter: none;
    }
  }
}
