/* GENERIC COLOURS FROM TAILWIND */
$generic-red: #f87171; /*RED 400*/
$generic-orange: #fb923c; /*ORANGE 400*/
$generic-yellow: #fbbf24; /*AMBER 400*/
$generic-green: #a3e635; /*LIME 400*/
$generic-teal: #2dd4bf; /*TEAL 400*/
$generic-blue: #60a5fa; /*BLUE 400*/
$generic-indigo: #818cf8; /*INDIGO 400*/
$generic-purple: #c084fc; /*PURPLE 400*/
$generic-rose: #fb7185; /*ROSE 400*/

/* BRAND */
$color-brand: #6467f2;
/* Stolen from 'some experiments you can ignore it for now' in assets/icons. Probably not correct. */
$brand-indigo: #6366f1;
$brand-purple: #8b5cf6;
$brand-green: #10b981;
$brand-amber: #f59e0b;
$brand-red: #ef4444;
